body{
	background-color: rgb(34, 32, 32);
	color: white;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}


#kcim {
	text-align: center;
}

textarea{
	width: 300px;
	border-color: white;
	background-color:rgb(19, 18, 18) ;
	border-radius: 5px;
	color: white;
}

#tnev{
	width: 300px;
	height: 25px;
	border-color: white;
	background-color:rgb(19, 18, 18) ;
	border-radius: 5px;
	color: white;
}

#email{
	width: 300px;
	height: 25px;
	border-color: white;
	background-color:rgb(19, 18, 18) ;
	border-radius: 5px;
	color: white;
}

#phone{
	width: 300px;
	height: 25px;
	border-color: white;
	background-color:rgb(19, 18, 18) ;
	border-radius: 5px;
	color: white;
}

#valassztema{
	width: 300px;
	height: 25px;
	border-color: white;
	background-color:rgb(19, 18, 18) ;
	border-radius: 5px;
	color: white;
}

#kuldes{
	width: 80px;
	height: 30px;
	border-radius: 10px;
	cursor: pointer;
	-webkit-transition-duration: 0.7s;
	border: none;
}

#kuldes:hover{
	background-color: black;
	color: white;
}

#foot{
	width: 50%;
	margin-top: 250px;
}

#githubicon{
	width: 30px;
	height: 30px;
	margin-right: 9px;
}

#twitchicon{
	width: 30px;
	height: 30px;
	margin: 9px;
}

#instaicon{
	width: 30px;
	height: 30px;
	margin: 9px;
}

#dcicon{
	width: 30px;
	height: 30px;
	margin: 6px;
}

#faceicon{
	width: 30px;
	height: 30px;
	margin: 6px;
}

#linkedicon{
	width: 30px;
	height: 30px;
	margin: 9px;
}
