body{
    background-color: rgb(36, 33, 33);
    color: white;
}
    
table {
    border-spacing: 1; 
    border-collapse: collapse; 
    width: 80%;
    margin-top: 50px;
}

th {
    height: 50px;
}

table, td, th {
    border: 2px solid white;
}

td {
    text-align: center;
    padding: 5px;
}